.analysis-steps {
    text-align: center;
    .pending-text {
        color: lightgray;
    }
    .blocks {
        display: inline-block !important;
        width: 40% !important;
        margin:20px auto !important;
    }
    .material-icons {
        color: green !important;
    }
    .spinner-format {
        margin: 0px 5px !important;
        display: inline-block !important;
    }
    .vertical-line {
        width: 1px;
        height: 20px;
        background: lightgray;
        margin-top: -10px;
        margin-bottom: -10px;
        border: none;
        transition: all 0.2s linear;
    }

    .focused-height {
        transition: all 0.2s linear;
        height: 60px;
    }
}