<div class="analysis-steps">
      <div class="blocks" >
        <mat-spinner *ngIf="step == 0" class="spinner-format" [diameter]="30"></mat-spinner>
        <i *ngIf="step >= 1" class="material-icons">done</i>
        <div>Parsing EULA</div>
      </div>


      <hr class="vertical-line" [ngClass]="step==1 ? 'focused-height' : ''" />


      <div class="blocks">
        <mat-spinner *ngIf="step == 1" class="spinner-format" [diameter]="30"></mat-spinner>
        <i *ngIf="step >= 2" class="material-icons">done</i>
        <div [ngClass]="step>=1 ? '' : 'pending-text'">Analyzing</div>
      </div>


      <hr class="vertical-line" [ngClass]="(step==2) ? 'focused-height' : ''"/>


        <div class="blocks">
        <mat-spinner *ngIf="step == 2" class="spinner-format" [diameter]="30"></mat-spinner>
        <i *ngIf="step >= 3" class="material-icons">done</i>
        <div [ngClass]="step>=2 ? '' : 'pending-text'">{{ !result ? 'Finishing up' : 'Finished'}}</div>
      </div>
</div>