.metrics-page {
    min-height: 1000px;
}
.card {
    width: 40%;
    display: inline-block;
    margin: 20px 20px;
}

.metrics-box {
    text-align: center;
    width: 20%;
    margin: 20px 20px;
    display: inline-block;
}

.blue {
    background-color: #3aafff;
    color: white;
}
.purple {
    background-color: #7604d0;
    color: white;
}
.green {
    background-color: #42bf0b;
    color: white;
}

.graph-card {
    margin: auto;
    text-align: center;
}

.table-card {
    margin: auto;
    width: 90%;
}

.mat-card-title {
    font-size: 20px !important;
    margin: 0 16px;
}

table {
    width: 100%;
    margin: auto;
    text-align: center;
    th {
        text-align: center;
    }
  }