.app-stepper.mat-stepper-horizontal {
    background-color: transparent;
}

.app-stepper {
    text-align: center;
    min-height: 800px;
}

#proceed {
    margin: 20px 20px;
    text-align: right;
}
